.border-color-peru{
  border:1px solid peru;
}
header{
  height: 3rem;
}
.border-purple{
  border:1px solid purple;
}
.card{
  height: 18rem;
}
  
.border-magenta{
  border:1px solid magenta
}
.hght-20{
height: 20rem;
} 
.border-green{
  border:1px solid green
}
.border-blue{
  border:1px solid rgb(22, 153, 153)
}
.border-red{
  border:1px solid red
}
.border-yellow{
  border:1px solid yellow
}